.haou {
    padding-left: unset !important;
    padding-right: 10px !important;
    text-align: right !important;
}
.odds {
    padding: unset !important;
    text-align: left !important;
}
#viewerTitle0{
    display: none;
}